POSTGRES_DB=my_geospatial_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=admin123
POSTGRES_HOST=postgres
PAGES="1"
BRANCH=dev
MULTIPROCESSING="True"
RUNNING_IN_OPENSHIFT="False"
PYTHONUNBUFFERED=1
LAJI_API_URL=https://apitest.laji.fi/v0/
ACCESS_TOKEN=your_access_token
INTERNAL_POSTGRES_DB=my_internal_db
INTERNAL_POSTGRES_USER=pygeoapi
INTERNAL_POSTGRES_PASSWORD=admin456
INTERNAL_POSTGRES_HOST=postgres
LAJI_AUTH_URL=https://fmnh-ws-test.it.helsinki.fi/laji-auth/
RESTRICT_ACCESS="False"
SECRET_KEY=secret
